<?php
	$title = 'My user';
	$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
<a href="<?php echo $this->url('user', array('action'=>'add'));?>">user</a>
</p>
<table class="table">
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th>&nbsp;</th>
	</tr>
	
	<?php foreach ($users as $user) : ?>
	<tr>
		<td><?php echo $this->escapeHtml($user->username);?></td>
		<td><?php echo $user->email?></td>
		<td>
	<a href="<?php echo $this->url('user',
	array('action'=>'edit', 'id' => $user->id));?>">Editer</a>
	<a href="<?php echo $this->url('user',
	array('action'=>'delete', 'id' => $user->id));?>">Ajouter</a>
	</td>
	</tr>
<?php 
	endforeach; 
?>
</table>