<?php
	$title = 'Shopping';
	$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
    if ($achats != null)
    {
?>
<table class="table">
	<tr>
		<th>Type product</th>
	</tr>

	<?php
		foreach ($achats as $achat) :
	?>
	<tr>
		<td>
			<?php echo $achat->type ?>
		</td>
	</tr>
	<?php 
			endforeach; 
	?>
</table>

<?php 
	} 
?>