<h1>Login </h1>
<?php echo $this->escapeHtml($this->messages); ?>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('cinedb/default', array('controller' => 'login','action' => 'login')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('username'));
echo $this->formRow($form->get('password'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>
<?php
    if ($user = $this->identity()) {
        echo 'Logged in as ' . $this->escapeHtml($user->username);
?>		
<a href="<?php echo $this->url('cinedb/default', array('controller' => 'login','action' => 'logout'));?>"><?php echo $this->translate('Logout'); ?></a> 
<?php
    } else {
        echo 'Not logged in';
    }
?>
<br>
<a href="<?php echo $this->url('cinedb/default', array('controller' => 'registration','action' => 'index'));?>"><?php echo $this->translate('No account?'); ?></a> 