<?php
	$title = 'Movie';
	$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>

<p><strong>Remaining sheets: <?php echo $consumption?></strong></p>
<?php
	if ($movie) {
?>
<div>
<!--<div style="float:left">
	<a href="<?php echo $movie['Poster']?>"> 
		<img height="317" width="214" src="<?php echo $movie['Poster']?>" itemprop="image">
	</a>
</div> -->
<div>
	<p>
		<strong>Title: </strong><em><?php echo $movie['title']?></em>
	</p>
	<p>
		<strong>Year: </strong><em><?php echo $movie['year']?></em>
	</p>
	<p>
		<strong>Runtime: </strong><em><?php echo $movie['runtime']?></em>
	</p>
	<p>
		<strong>Genre: </strong><em><?php echo $movie['genre']?></em>
	</p>
	<p>
		<strong>Director: </strong><em><?php echo $movie['director']?></em>
	</p>
	<p>
		<strong>Actors: </strong><em><?php echo $movie['actors']?></em>
	</p>
	<p>
		<strong>Plot: </strong><em><?php echo $movie['plot']?></em>
	</p>
	<p>
		<strong>Score: </strong><em><?php echo $movie['score']?></em>
	</p>
	<p>
		<strong>LinkImage: </strong><a href="<?php echo $movie['poster']?>"><em><?php echo $movie['poster']?></em></a>
	</p>
</div>
</div>

<?php 
	}
?>
