<?php
	$title = 'History movies service';
	$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
    if ($listmovies != null){
?>
<table class="table">
	<tr>
		<th>Title</th>
	</tr>

	<?php
		if (is_array($listmovies)) {
			foreach ($listmovies as $movie) :
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url('cinedb/default', array('controller' => 'service','action' => 'getmovie', 'id' => ''.$movie->title.''));?>">
				<?php echo $movie->title ?></a> 
		</td>
	</tr>
	<?php 
			endforeach; 
		}
		else
		{ ?>
	<tr>
		<td>
			<a href="<?php echo $this->url('cinedb/default', array('controller' => 'service','action' => 'getmovie', 'id' => ''.$listmovies->title.''));?>">
				<?php echo $listmovies->title ?></a>
		</td>
	</tr>

<?php } ?>
</table>

<?php }?>