<?php
	$title = 'My Services';
	$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>
	
<table class="table">
	<tr>
		<th>ServiceType</th>
		<th>Start</th>
		<th>Expire</th>
		<th>Remaining sheets</th>
		<th>Use</th>
		<th>History</th>
		<th>Extend</th>
	</tr>
	
	
	<tr>
		<td>
			<?php 
			if ($services->type == 0)
				echo 'Free';
			else if ($services->type == 1)
				echo 'Silver';
			else if ($services->type == 2)
				echo 'Gold';
			?>
		</td>
		<td>
			<?php echo $this->escapeHtml($services->start) ?>
		</td>
		<td>
			<?php echo $this->escapeHtml($services->expire) ?>
		</td>
		<td>
			<?php 
				$remaining = $services->maxconsumption - $services->actualconsumption;
				echo $remaining;
			?>
		</td>
		<td>
			<a href="<?php echo $this->url('cinedb/default', array('controller' => 'service','action' => 'searchmovie'));?>">Use!</a> 
		</td>
		<td>
			<a href="<?php echo $this->url('cinedb/default', array('controller' => 'service','action' => 'history', 'id' => ''.$services->id.''));?>">See!</a> 
		</td>
		<td>
			<a href="<?php echo $this->url('cinedb/default', array('controller' => 'service','action' => 'option', 'id' => ''.$services->id.''));?>">Click for upgrade or options!</a> 
		</td>
	</tr>
</table>
<div>
<a href="<?php echo $this->url('cinedb/default', array('controller' => 'achat','action' => 'index'));?>">See your purchase!</a> 
<div>