<?php
	$title = 'Search movies';
	$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>

<p><strong>Remaining sheets: <?php echo $this->escapeHtml($consumption); ?></strong></p>

<?php $form = $this->form;
$form->setAttribute('action', $this->url('cinedb/default', array('controller' => 'service', 'action' => 'searchmovie')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('search'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>

<?php 
	if ($listmovies) {
?>
<table class="table">
	<tr>
		<th>Title</th>
	</tr>
	<?php 
		foreach ($listmovies as $movie) :
	?>
	<tr>
		<td>
			<a href="<?php echo $this->url('cinedb/default', array('controller' => 'service','action' => 'getmovie', 'id' => ''.$movie.''));?>">
				<?php echo $movie ?></a> 
		</td>
	</tr>
	<?php 
		endforeach;
	?>
</table>

<?php } ?>


